@model EnvironmentalProtectionSurvey.Models.Survey
@{
    ViewData["Title"] = "Create New Survey";
    Layout = "~/Views/Shared/_LayoutBE.cshtml";
}
<nav class="navbar default-layout">
    <div class="navbar-menu-wrapper d-flex align-items-top">
        <h1>New Survey</h1>
    </div>
</nav>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="surveyForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserType" class="control-label"></label>
                <select asp-for="UserType" class="form-control">
                    <option value="Student">Student</option>
                    <option value="Teacher" selected>Teacher</option>
                    <option value="All">All</option>
                </select>
                <span asp-validation-for="UserType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Form" class="control-label"></label>
                <select asp-for="Form" class="form-control">
                    <option value="Survey">Survey</option>
                    <option value="Competition" selected>Competition</option>
                </select>
                <span asp-validation-for="Form" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndAt" class="control-label"></label>
                <input asp-for="EndAt" class="form-control" />
                <span asp-validation-for="EndAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-light">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(function () {
            $('#surveyForm').submit(function (event) {
                event.preventDefault(); // Prevent default form submission

                $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                title: 'Survey Created!',
                                text: 'The survey has been created successfully.',
                                icon: 'success',
                                confirmButtonText: 'OK'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = '@Url.Action("Index")'; // Redirect to Index action
                                }
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        // Handle error here
                        console.error(xhr, status, error);
                        // Display an error message to the user
                    }
                });
            });
        });
    </script>
}
