<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/faqs/css/style.css">
</head>
<body>
    <div class="faq-header">Frequently Asked Questions</div>
        @RenderBody()
</body>
</html>
